{{ define "header" }}
<nav>
  {{ if .LoggedIn }}<span style="float:right;">
    Eingeloggt als {{ .CurrentUser }}
    <a href="/logout">Logout</a>
  </span>{{end}}
</nav>
<div class="errors" style="clear:right; padding: 5px;">
{{ range $err := .Errors }}<div class="bg-danger" style="padding: 5px;">{{if $.Debug}}{{ printf "%T: %s" $err $err.Error }}{{else}}{{$err}}{{end}}</div>{{ end }}
</div>
{{ end }}
