{{define "internal-server-error"}}
<h2>Internal Server Error:</h2>
{{if .Debug}}
<h3>Request:</h3>
<p>{{printf "%+#v" .Request}}</p>
<h3>Stacktrace:</h3>
<p>{{.Stack}}</p>
{{else}}
<h3>Es ist etwas schief gelaufen und der Server hat einen Fehler gemeldet.</h3>
<p>Klicken Sie <a href="{{.Request.URL.String}}">hier</a> um es noch einmal zu versuchen.</p>
<p><a href="/">Zurück zur Startseite</a></p>
{{end}}
{{end}}
