{{ define "login" }}
<form name="login" method="POST" accept-charset="UTF-8" action="/login">
  <label for="username">Benutzername</label>
  <input type="text" name="username"/>
  <label for="password">Passwort</label>
  <input type="password" name="password"/>
  <button type="submit">Login</button>
</form>
<form name=google-login method="POST" accept-charset="UTF-8" action="/google_login">
  <input type="hidden" name="referer" value="{{.Referer}}">
  <button type="submit">Mit Google anmelden</button>
</form>
{{ end }}
