{{ define "plan-items-new" }}
<h2>Neuen Planungszeitraum anlegen</h2>
<form name="create-plan-item" action="/plan_items" method="POST">
  <div class="form-group">
    <label for="timeframe">Exisiterenden Abrechnungszeitraum wählen</label>
    <select name="timeframe" class="form-control">
      {{ range $timeframe := .Timeframes}}
      <option value="{{$timeframe.ToQuery.Encode}}">
        {{printFiscalPeriod $timeframe}}
      </option>
      {{ end }}
    </select>
  </div>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>Mitarbeiter</th>
        <th>Fakturierungsgrad</th>
        <th>Stelle</th>
        <th>Urlaub</th>
        <th>Krankheit</th>
        <th>Resturlaub</th>
      </tr>
    </thead>
    <tbody>
      {{range $user := .Users }}
      <tr>
        <td>
          <input type="hidden" value="{{$user.Id}}" name="user"/>
          {{$user.FirstName}}
        </td>
        <td>
          <input type="text" name="{{$user.Id}}-billing-degree" pattern="^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$" class="form-control"/>
        </td>
        <td>
          <input type="text" name="{{$user.Id}}-working-degree" pattern="^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$" class="form-control"/>
        </td>
        <td>
          <input type="text" name="{{$user.Id}}-vacation-interest" pattern="^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$" class="form-control"/>
        </td>
        <td>
          <input type="text" name="{{$user.Id}}-remaining-vacation-interest" pattern="^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$" class="form-control"/>
        </td>
        <td>
          <input type="text" name="{{$user.Id}}-days-of-illness" pattern="^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$" class="form-control"/>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Anlegen</button>
    <a href="/plan_items" class="btn">Abbrechen</a>
  </div>
</form>
{{ end }}
