{{ define "plan-items" }}
<area class="row">
  <section class="col-md-6">
    <h2>Planungszeiträume</h2>
    {{ range $timeframe := .Timeframes }}
    <a href="/plan_items/show?{{ $timeframe.Link }}">{{ printDate $timeframe.StartDate }} - {{ printDate $timeframe.EndDate }}</a>
    {{ else }}
    <p>Keine Abrechnungszeiträume vorhanden</p>
    {{ end }}
  </section>
  <section class="col-md-6">
    <a href="/plan_items/new">Neuen Planungszeitraum anlegen</a>
  </section>
</area>
{{ end }}
