<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style type="text/css">
      body {padding: 5px;}
    </style>
  </head>
  <body>
    {{ template "header" . }}
    <div class="container-fluid">{{ template "content" . }}</div>
  </body>
</html>
